<div class="m-md-5 mt-5">
    <div class="row g-0 position-relative mt-3">
        <div class="col-md-4 mb-md-0 p-md-4 d-flex align-items-center">
            <img src="assets/logo_empresa.png"  class="w-100" alt="...">
        </div>
        <div class="col-md-8 p-4 ps-md-0">
            <h3 class="mt-0 text-center">Historia</h3>
            <blockquote class="blockquote text-right">
                <p class="">Somos una empresa formada el año 2013,como consecuencia
                    de la visión de dos profesionales con una vasta experiencia de
                    más de 30 años en Construcción de viviendas para privados y
                    entidades fiscales en el norte de Chile y en los últimos 15 años
                    en el área de obras civiles, eléctricas y montaje en
                    telecomunicaciones por todo el país.</p>
                <p>Nuestra empresa cuenta con personal calificado y certificado
                    para desempeñarse en el área de las telecomunicaciones,
                    donde se realizan trabajos de <abbr title="Obras Civiles">OOCC</abbr> y <abbr
                        title="Obras Eléctricas">OOEE</abbr>.</p>
                <p>Tenemos la capacidad y experiencia para realizar construcción,
                    mejoramientos, reparaciones y mantención en construcción
                    viviendas, oficinas ,etc.</p>
            </blockquote>
        </div>
    </div>

</div>