<header class="p-3" id="header">
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-center">
                <div class="text-dark">
                    <img src="assets/logo_empresa.png" alt="logo_empresa" width="170" height="130">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation" id="nav-responsive-btn">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <div class="d-grid gap-2">
                                <li class="nav-item">
                                    <a class="nav-link btn" href="home/inicio" id="nav-text">Inicio</a>
                                </li>
                            </div>
                            <div class="d-grid gap-2">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle btn" href="#" id="nav-text" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        Sobre Nosotros
                                    </a>
                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <li><a class="dropdown-item" href="home/sobre-nosotros"
                                                id="nav-text">Historia</a>
                                        </li>
                                        <li><a class="dropdown-item" href="home/mision" id="nav-text">Misión</a></li>
                                        <li><a class="dropdown-item" href="home/visionValores" id="nav-text">Visión y
                                                Valores</a></li>
                                        <li> <a class="dropdown-item" href="home/experiencias"
                                                id="nav-text">Experiencias</a></li>
                                    </ul>
                                </li>
                            </div>
                            <div class="d-grid gap-2">
                                <li class="nav-item">
                                    <a class="nav-link btn" href="home/clientes" id="nav-text">Clientes</a>
                                </li>
                            </div>
                            <div class="d-grid gap-2">
                                <li class="nav-item">
                                    <a class="nav-link btn" href="home/proyectos" id="nav-text">Proyectos</a>
                                </li>
                            </div>
                            <div class="d-grid gap-2">
                                <li class="nav-item">
                                    <a class="nav-link btn" href="home/contactanos" id="nav-text">Contáctanos</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</header>
<div class="hd-footer p-3">
    <p class="d-flex justify-content-center mt-3">
        Más de 30 años satisfaciendo las necesidades de nuestros clientes.
    </p>
</div>