<header class="p-3" id="header">
    <div class="container">
        <div class="d-flex flex-row justify-content-between">
            <div class="d-flex align-items-center">
                <div class="text-dark">
                    <img src="assets/logo_empresa.png" alt="logo_empresa" width="170" height="130">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="home/inicio" id="nav-text">Inicio</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="nav-text"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Sobre Nosotros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="home/sobre-nosotros" id="nav-text">Historia</a>
                                <a class="dropdown-item" href="home/mision" id="nav-text">Misión</a>
                                <a class="dropdown-item" href="home/visionValores" id="nav-text">Visión y Valores</a>
                                <a class="dropdown-item" href="home/experiencias" id="nav-text">Experiencias</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home/clientes" id="nav-text">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home/proyectos" id="nav-text">Proyectos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="home/contactanos" id="nav-text">Contáctanos</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!--
            <div class="d-flex align-items-center">
                <ul class="nav">
                    <li><a href="home/sobre-nosotros" class="nav-link" id="nav-text">Sobre nosotros</a></li>
                    <li><a href="" class="nav-link" id="nav-text">Nuestros objetivos</a></li>
                    <li><a href="#scrollspyHeading3" class="nav-link" id="nav-text">Nuestros servicios</a></li>
                    <li><a href="#scrollspyHeading4" class="nav-link" id="nav-text">Contáctanos</a></li>
                </ul>     
            </div>
            -->
        </div>
    </div>
</header>
<div class="hd-footer p-3">
    <p class="d-flex justify-content-center mt-3">
        Más de 30 años satisfaciendo las necesidades de nuestros clientes.
    </p>
</div>