<div class="m-5">
    <div class="row g-0 position-relative">
        <div class="col-md-6 mb-md-0 p-md-4 order-2">
            <img src="assets/img/arquitecto.jpg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 order-1">
            <h3 class="mt-0 text-center">Misión General</h3>
            <blockquote class="blockquote text-right">
                <p class="">Nuestra misión es satisfacer las necesidades de nuestros clientes del área de la
                    construcción en
                    las etapas de </p>
                <ul>
                    <li>Diseño</li>
                    <li>Creación de proyectos y ante-proyectos</li>
                    <li>Implementación y/o control de proyectos de obras civiles</li>
                    <li>Construcción en áreas urbanas y/o rurales</li>
                </ul>
                <p>Todo esto, haciendo uso de la vasta experiencia de nuestros profesionales y cumpliendo con las normas
                    vigentes de <b>edificación, seguridad, medioambientales, laborales, etc.</b></p>
            </blockquote>
        </div>
    </div>

    <div class="row g-0 position-relative mt-3">
        <div class="col-md-6 mb-md-0 p-md-4">
            <img src="assets/img/antena_celular.jpeg" class="w-100" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <h3 class="mt-0 text-center">Telecomunicaciones</h3>
            <blockquote class="blockquote text-right">
                <p class="">En el ámbito de las telecomunicaciones, nuestra misión es apoyar el:</p>
                <ul>
                    <li>Desarrollo</li>
                    <li>Implementación</li>
                    <li>Mantención</li>
                </ul>
                <p>de proyectos de telefonía celular. Cumpliendo además con las normas <b>Medioambientales, laborales y
                        de
                        seguridad necesarias.</b></p>
            </blockquote>
        </div>
    </div>
</div>