<div class="m-5">
    <div class="row g-0 position-relative mt-3">
        <div class="col-md-6 mb-md-0 p-md-4 text-center">
            <img src="assets/img/contactanos.png" class="" alt="...">
        </div>
        <div class="col-md-6 p-4 ps-md-0">
            <!-- modify this form HTML and place wherever you want your form -->
            <div class="mt-0">
                <address class="">
                    <h2 class="featurcette-heading fw-normal lh-1 text-center">Datos de contacto</h2>
                    <div class="d-flex flex-row m-4">
                        <img src="assets/icons/constructor.png" alt="Logo" width="30" height="30">
                        <p class="m-1">Ejemplo nombre persona</p>
                    </div>
                    <div class="d-flex flex-row m-4">
                        <img src="assets/icons/llamada-telefonica.png" alt="Logo" width="30" height="30">
                        <p class="m-1">+56 9 1234 5678</p>
                    </div>
                    <div class="d-flex flex-row m-4">
                        <img src="assets/icons/correo-electronico.png" alt="Logo" width="30" height="30">
                        <a href="#" class="m-1">empresa@email.com</a>
                    </div>
                </address>
            </div>
            <hr class="featurette-divider">
            <h2 class="featurcette-heading fw-normal lh-1 text-center">Envianos un correo</h2>
            <form action="https://formspree.io/f/mdovonkl" method="POST">
                <!--CORREO ELECTRONICO-->
                <div class="form-group m-3">
                    <label>Correo Electrónico:</label>
                    <input class="form-control" type="email" name="email" placeholder="Ingrese su correo">
                    <small id="emailHelp" class="form-text text-white">No compartiremos su email con nadie
                        más.</small>
                </div>
                <!--MENSAJE-->
                <div class="form-group m-3">
                    <label>
                        Ingrese su mensaje:
                    </label>
                    <textarea class="form-control" name="message"></textarea>
                </div>
                <!-- your other form fields go here -->
                <div class="m-3">
                    <button class="btn btn-primary" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>