<div class="row m-md-5 mt-5">
    <div class="col-lg-3 mt-4">
        <img src="assets/clientes/logo-sice100.png" class="card-img-top" alt="...">
    </div>
    <div class="col-lg-3 mt-4">
        <img src="assets/clientes/Logo_Web_Minm.png" class="card-img-top" alt="...">
    </div>
    <div class="col-lg-3">
        <img src="assets/clientes/serviu_logo.jpeg" class="card-img-top" alt="...">
    </div>
    <div class="col-lg-3 mt-4">
        <img src="assets/clientes/WOM_logo.png" class="card-img-top" alt="...">
    </div>
    <div class="col-lg-3 mt-4">
        <img src="assets/clientes/Logo-Comtec.png" class="card-img-top" alt="...">
    </div>
    <div class="col-lg-3 mt-4">
        <img src="assets/clientes/logo_aj.jpeg" height="200" width="200" class="card-img-top" alt="">
    </div>
    <div class="col-lg-3 mt-4">
        <img src="assets/clientes/logo_mer.jpg" class="card-img-top" alt="">
    </div>
</div>