<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500" data-bs-pause="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
            aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/carrusel-inicio/inicio_1.jpg" height="500px" class="d-block w-100" alt="" />
            <!--
            <div class="container">
                <div class="carousel-caption text-start text-dark">
                    <h1>Ejemplo 1: a la Izquierda</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eos natus ex dicta quos error
                        modi voluptatem, quasi non explicabo magni delectus ducimus tempore sequi alias odit. Quas, aut.
                        Quos.</p>
                </div>
            </div>
            -->
        </div>

        <div class="carousel-item">
            <img src="assets/carrusel-inicio/inicio_2.jpg" height="500px" class="d-block w-100" alt="" />
            <!--
            <div class="container">
                <div class="carousel-caption text-light">
                    <h1>Ejemplo 2: Centrado</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ut maiores aliquam similique
                        recusandae ipsa animi, architecto repudiandae quas excepturi placeat, ab incidunt molestias
                        pariatur odit dignissimos id nulla facere.</p>
                </div>
            </div>
            -->
        </div>
        <div class="carousel-item">
            <img src="assets/carrusel-inicio/inicio_3.jpg" height="500px" class="d-block w-100" alt="" />
            <!--
            <div class="container">
                <div class="carousel-caption text-end text-light">
                    <h1>Ejemplo 3: a la derecha</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde voluptates, similique ipsa ipsum
                        voluptatibus vel quam, consequuntur dicta iure quibusdam veniam est placeat cum soluta ipsam
                        porro tempore quasi. Quos.</p>
                </div>
            </div>
            -->
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
<div class="m-3">
    <h2 class="text-center">Productos y servicios</h2>
    <!--Primera row-->
    <div class="row text-center">
        <div class="col-6">
            <img src="assets/icons/excavador.png" width="50" height="50">
            <h4 class="m-1">Construcción de obras civiles en general</h4>
        </div>
        <div class="col-6">
            <img src="assets/icons/en-construccion.png" width="50" height="50">
            <h4 class="m-1">Edificación y urbanización</h4>
        </div>
    </div>
    <!--Segunda row-->
    <div class="row text-center">
        <div class="col-6">
            <img src="assets/icons/pala.png" width="50" height="50">
            <h4 class="m-1">Pavimentación de obras viales</h4>
        </div>
        <div class="col-6">
            <img src="assets/icons/planchar.png" width="50" height="50">
            <h4 class="m-1">Canalización subterránea</h4>
        </div>
    </div>
    <!--Tercer row-->
    <div class="row text-center">
        <div class="col-6">
            <img src="assets/icons/construccion.png" width="50" height="50">
            <h4 class="m-1">Montajes</h4>
        </div>
        <div class="col-6">
            <img src="assets/icons/senal.png" width="50" height="50">
            <h4 class="m-1">Construcción e instalación de sitios de telefonía celular</h4>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-6">
            <img src="assets/icons/reuniones.png" width="50" height="50">
            <h4 class="m-1">Reuniones y reportes</h4>
        </div>
        <div class="col-6">
            <img src="assets/icons/informe.png" width="50" height="50">
            <h4 class="m-1">Informe de verticalidad, torque y RFI de torres</h4>
        </div>
    </div>
</div>