<div id="myCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3500" data-bs-pause="false">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1"
            aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="assets/carrusel-1.png" width="700" height="610" class="d-block w-100"
                alt="Sunset Over the City" />

            <div class="container">
                <div class="carousel-caption text-start text-dark">
                    <h1>Ejemplo 1: a la Izquierda</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla eos natus ex dicta quos error
                        modi voluptatem, quasi non explicabo magni delectus ducimus tempore sequi alias odit. Quas, aut.
                        Quos.</p>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <img src="assets/carrusel-2.png" width="700" height="610" class="d-block w-100" alt="Canyon at Nigh" />

            <div class="container">
                <div class="carousel-caption text-dark">
                    <h1>Ejemplo 2: Centrado</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis ut maiores aliquam similique
                        recusandae ipsa animi, architecto repudiandae quas excepturi placeat, ab incidunt molestias
                        pariatur odit dignissimos id nulla facere.</p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="assets/carrusel-3.png" width="700" height="610" class="d-block w-100"
                alt="Cliff Above a Stormy Sea" />

            <div class="container">
                <div class="carousel-caption text-end text-dark">
                    <h1>Ejemplo 3: a la derecha</h1>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde voluptates, similique ipsa ipsum
                        voluptatibus vel quam, consequuntur dicta iure quibusdam veniam est placeat cum soluta ipsam
                        porro tempore quasi. Quos.</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>