<!--Proyectos MER-->
<h2 class="text-center mt-5" id="titulo">Proyectos realizados</h2>
<div class="row text-center mt-1" id="proy">
    <div class="col-6">
        <h2>MER Telcom</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-sm mt-md-2" data-bs-toggle="collapse" href="#MER" role="button" aria-expanded="false"
            aria-controls="collapseExample" id="btn-principal">
            Ver Más
        </a>
    </div>
</div>

<div class="collapse" id="MER">
    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Desarme de sitios completos de VTR y otras empresas.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#proy1" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="proy1">
        <img src="assets/img/proyectos/MER/proy1.png" class="img-fluid">
    </div>

    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Mantención y refuerzos sitios Claro.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#proy2" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="proy2">
        <img src="assets/img/proyectos/MER/proy2.png" class="img-fluid">
    </div>

    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Construcción de sitios monoposte de Claro en PHAM.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#proy3" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="proy3">
        <div id="MER-CARRUSEL" class="carousel slide bg-dark" data-bs-ride="carousel" data-bs-interval="3500"
            data-bs-pause="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#MER-CARRUSEL" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#MER-CARRUSEL" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#MER-CARRUSEL" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/proyectos/MER/proy3-1.png" class="img-fluid">
                </div>

                <div class="carousel-item">
                    <img src="assets/img/proyectos/MER/proy3-2.png" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/MER/proy3-3.png" class="img-fluid">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#MER-CARRUSEL" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#MER-CARRUSEL" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
<!--Proyectos MINM-->
<div class="row text-center mt-1" id="proy">
    <div class="col-6">
        <h2>MINM</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-sm mt-md-2" data-bs-toggle="collapse" href="#MINM" role="button" aria-expanded="false"
            aria-controls="collapseExample" id="btn-principal">
            Ver Más
        </a>
    </div>
</div>

<div class="collapse" id="MINM">
    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Construcción de sitios incluida zona de la araucanía.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#minm-proy1" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="minm-proy1">
        <img src="assets/img/proyectos/MINM/minm-proy-1.png" class="img-fluid">
    </div>

    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Cambio de Radomos.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#minm-proy2" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="minm-proy2">
        <img src="assets/img/proyectos/MINM/minm-proy-2.png" class="img-fluid">
    </div>
</div>
<!--Proyectos Aura Telcom-->
<div class="row text-center mt-1" id="proy">
    <div class="col-6">
        <h2>Aura Telcom</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-sm mt-md-2" data-bs-toggle="collapse" href="#AURA" role="button" aria-expanded="false"
            aria-controls="collapseExample" id="btn-principal">
            Ver Más
        </a>
    </div>
</div>
<div class="collapse" id="AURA">
    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Refuerzos soldados y apernados para varias compañias.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#aura-proy1" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="aura-proy1">
        <img src="assets/img/proyectos/AURA/aura-proy-1.png" class="img-fluid">
    </div>

    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Cambio de soporte de antenas.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#aura-proy2" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="aura-proy2">
        <img src="assets/img/proyectos/AURA/aura-proy-2.png" class="img-fluid">
    </div>
</div>
<!--Proyectos CONNECT-->
<div class="row text-center mt-1" id="proy">
    <div class="col-6">
        <h2>CONNECT</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-sm mt-md-2" data-bs-toggle="collapse" href="#CONN" role="button" aria-expanded="false"
            aria-controls="collapseExample" id="btn-principal">
            Ver Más
        </a>
    </div>
</div>
<div class="collapse" id="CONN">
    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Sitios completos al sur del pais.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#conn-proy1" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="conn-proy1">
        <img src="assets/img/proyectos/CONNECT/connect-proy-1.png" class="img-fluid">
    </div>

    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Azoteas en R.M. y Zona Norte.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#conn-proy2" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="conn-proy2">
        <img src="assets/img/proyectos/CONNECT/connect-proy-2.png" class="img-fluid">
    </div>

    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Canalización en la R.M.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#conn-proy3" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="conn-proy3">
        <div id="CONN-CARRUSEL" class="carousel slide bg-dark" data-bs-ride="carousel" data-bs-interval="3500"
            data-bs-pause="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
                <button type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide-to="3" aria-label="Slide 4"
                    class=""></button>
                <button type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide-to="4" aria-label="Slide 5"
                    class=""></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/proyectos/CONNECT/connect-proy-3-1.png" class="img-fluid">
                </div>

                <div class="carousel-item">
                    <img src="assets/img/proyectos/CONNECT/connect-proy-3-2.png" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/CONNECT/connect-proy-3-3.png" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/CONNECT/connect-proy-3-4.png" class="img-fluid">
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/CONNECT/connect-proy-3-5.png" class="img-fluid">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#CONN-CARRUSEL" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
</div>

<!--Proyectos Santa sofia-->
<div class="row text-center mt-1" id="proy">
    <div class="col-6">
        <h2>Santa Sofia y Humberto Perez</h2>
    </div>
    <div class="col-6">
        <a class="btn btn-sm mt-md-2" data-bs-toggle="collapse" href="#SANT" role="button" aria-expanded="false"
            aria-controls="collapseExample" id="btn-principal">
            Ver Más
        </a>
    </div>
</div>
<div class="collapse" id="SANT">
    <div class="row text-center" id="proy_especifico">
        <div class="col-6">
            <p>Pavimmentación en la R.M.</p>
        </div>
        <div class="col-6">
            <a class="btn btn-sm" data-bs-toggle="collapse" href="#san-proy1" role="button" aria-expanded="false"
                aria-controls="collapseExample" id="btn-secundario">
                Mostrar imágenes
            </a>
        </div>
    </div>
    <div class="collapse text-center" id="san-proy1">

        <div id="SANTA-CARRUSEL" class="carousel slide bg-dark" data-bs-ride="carousel" data-bs-interval="3500"
            data-bs-pause="false">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide-to="0" class="active"
                    aria-label="Slide 1" aria-current="true"></button>
                <button type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide-to="1" aria-label="Slide 2"
                    class=""></button>
                <button type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide-to="2" aria-label="Slide 3"
                    class=""></button>
                <button type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide-to="3" aria-label="Slide 4"
                    class=""></button>
                <button type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide-to="4" aria-label="Slide 5"
                    class=""></button>
            </div>

            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/img/proyectos/SANTA/santa-proy-1.png" class="img-fluid" />
                </div>

                <div class="carousel-item">
                    <img src="assets/img/proyectos/SANTA/santa-proy-2.png" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/SANTA/santa-proy-3.png" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/SANTA/santa-proy-4.png" class="img-fluid" />
                </div>
                <div class="carousel-item">
                    <img src="assets/img/proyectos/SANTA/santa-proy-5.png" class="img-fluid" />
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#SANTA-CARRUSEL" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>