<h2 class="text-center mt-5" id="titulo">Proyectos realizados</h2>
<div class="mt-1" *ngFor="let empresa of empresas">
    <!--EMPRESA-->
    <div class="row text-center" id="proy">
        <div class="col-6">
            <h2>{{empresa.nombre_empresa}}</h2>
        </div>
        <div class="col-6" *ngIf="empresa.cant_proyectos > 0">
            <a class="btn btn-sm mt-md-2" data-bs-toggle="collapse" href="#{{empresa.nombre_simple}}" role="button"
                aria-expanded="false" aria-controls="collapseExample" id="btn-principal">
                Ver Más
            </a>
        </div>
    </div>
    <!--PROYECTOS-->
    <div *ngIf="empresa.cant_proyectos > 0">
        <div *ngFor="let proyecto of empresa.proyectos">
            <div class="collapse" id="{{empresa.nombre_simple}}">
                <div class="row text-center" id="proy_especifico">
                    <div class="col-6">
                        <p>{{proyecto.nombre_proyecto}}</p>
                    </div>
                    <div class="col-6" *ngIf="proyecto.tiene_fotos">
                        <a class="btn btn-sm" data-bs-toggle="collapse" href="#{{proyecto.id_proyecto}}" role="button"
                            aria-expanded="false" aria-controls="collapseExample" id="btn-secundario">
                            Mostrar imágenes
                        </a>
                    </div>
                </div>
                <div class="collapse text-center" id="{{proyecto.id_proyecto}}" *ngIf="proyecto.tiene_fotos">

                    <div id="CARRUSEL" class="carousel " data-bs-ride="carousel" data-bs-interval="3500"
                        data-bs-pause="false">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#CARRUSEL" data-bs-slide-to="0" class="active"
                                aria-label="Slide 1" aria-current="true"></button>
                            <button type="button" data-bs-target="#CARRUSEL" data-bs-slide-to="1" aria-label="Slide 2"
                                class=""></button>
                            <button type="button" data-bs-target="#CARRUSEL" data-bs-slide-to="2" aria-label="Slide 3"
                                class=""></button>
                            <button type="button" data-bs-target="#CARRUSEL" data-bs-slide-to="3" aria-label="Slide 4"
                                class=""></button>
                            <button type="button" data-bs-target="#CARRUSEL" data-bs-slide-to="4" aria-label="Slide 5"
                                class=""></button>
                        </div>
            
                        <div class="carousel-inner" *ngFor="let imagen of proyecto.alt_img; let i=index">

                            <div class="carousel-item active" *ngIf="i == 0">
                                <img src="{{imagen}}" class="img-fluid"/>
                            </div>
            
                            <div class="carousel-item" *ngIf="i > 0">
                                <img src="{{imagen}}" class="img-fluid"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div><!--For de empresas-->